body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #13323f;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container {
  height: 100%;
  background-color: #ffffff;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  user-select: none;
  max-width: 90%;
  margin: 0 auto;

  /* For notches */
  margin-top: env(safe-area-inset-top, 0);
  padding-bottom: env(safe-area-inset-bottom, 0);
}

.header {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header::after {
  content: '';
  display: block;
  height: 8px;
  width: 48px;
  border-radius: 4px;
  background-color: #cecece;
}

.list {
  height: 100%;
  overflow-y: scroll;
}

.item {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}
